/*селектор для вибору секції*/
.first-last-section {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid;
}

/*селектор для вибору всіх блоків `child` в секції*/
.child{
    display: flex;
    margin-bottom: 20px;
    transition: background-color 0.5s;
    padding: 10px;
}

/*селектор для вибору всіх картинок в секції*/
section img{
    transition: 0.5s;
}

/*селектор для вибору `другого діва` в кожному блоці `child`*/
.child div:last-child{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*селектор вибору першого діва в середині кожного блока `child`*/
.child div:first-child-child {
    max-width: 150px;
}

/*селектор вибору картинки в першому діві в середині кожного блока `child`*/
.child div:first-child img {
    max-width: 100%;
}

/*селектор вибору всіх непарних блоків `child`*/
.child:nth-child(odd) {
    flex-direction: row-reverse;
}

/*селектор вибору картинки для першого діва в середині всіх парних блоків `child`*/
.child:nth-child(even) div:first-child img {
    transform: scale(0.5);
}

/*селектор для стану при наведеному курсорі для всіх блоків `child`*/
.child:hover {
    background: #d7d7d7;
}

/*селектор для вибору картинки для першого діва при наведеному курсорі в кожному блоці `child`*/
.child div:first-child:hover img {
    transform: scale(1.2) !important;
}

/*селектор вибору картинки у всіх непарних блоках `child`*/
.child:nth-child(odd) img {
    transform-origin: right;
}

/*селектор вибору картинки у всіх парних блоках `child`*/
.child:nth-child(even) img. {
    transform-origin: left;
}

/*селектор вибору блоків `child` усіх окрім першого*/
.child:not(:first-child)
    box-shadow: 0 7px 13px -6px #000;
}